*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between; /*Um elemento em cada estremidade */
}

header{
    width: 100%;
    padding: 40px 4%;
    position: fixed;
    top: 0;
    left: 0;
}

header i{
    font-size: 30px;
    color: black;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #ffff;
    text-decoration: none;
}

.fundo{
    height: 100vh;
    background-image: url(img/banner1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
